* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: #8c8c8c;
    color: white;
    display: flex;
    align-items: center;
}
#menuBtn {
    margin-left: 15px;
    background-color: #d6d6d6;
    border-radius: 10px;
    display: none;
}
#menu {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

#navbarBurger {
    display: none;
}


h1 a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

#bell {
    position: absolute;
    top: -16px;
    right: 0px;
}
.notification {
    position: relative;
}

#notification-status {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -15px;
    left: -12px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

@keyframes skew {
     0%{transform: skew(0deg);}
    50%{transform: skew(120deg)}
    100%{transform: skew(240deg)}
}

.right-header {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    align-items: center;
    position: relative;
}
.account-container  {
    display: flex;
    align-items: center;
}

.dropdown {
    display: none;
    position: absolute;
    top: 50px;
    background-color: gray;
    padding: 10px 20px;
    width: 80%;
    text-align: center;
}
.profile:hover .dropdown {
    display: block;
}
.dropdown a {
    color: #e4e4e4;
    text-decoration: none;
    text-wrap: nowrap;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.dropdown a:hover {
    background-color: #b3b3b3;
}

.dropdownNotification img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdownNotification {
    position: absolute;
    background-color: gray;
    padding: 8px;
    top: 15px;
    left: -30px;
    width: 240px;
    display: none;
}
.notification:hover .dropdownNotification {
    display: block;
}
.message {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #c5c5c5;
    color: black;
    margin: 5px;
    border-radius: 5px;
    padding-right: 0;
}
.humanProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 30%
}
.humanProfile p {
    margin: 0;
}
.humanMessage {
    background-color: #fafafa;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-right: 5px;
    border-radius: 5px;
}
.humanMessage p {
    margin: 0;
    padding: 10px;
}

main {
    margin-left: 15px;
    margin-right: 15px;
}

aside {
    width: 20%;
    float: left;
    height: 100vh;
}

.navbar ul{
    list-style-type: none;
}
.navbar li {
    font-size: 24px;
}
.navbar a {
    color: black;
    text-decoration: none;
}
.navbar a:hover {
    color: #727272;
}
.navbar a:active {
    color: darkgray;
}

#students {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#students button {
    height: 30px;
    width: 30px;
    font-size: 24px;
}

table {
    border-collapse: collapse;
    border-style: solid;
    float: left;
    width: 100%;
}
table td, table th{
    border: 1px solid black;
}
#table {
    overflow-x: scroll;
    width: 80%;
    margin-right: 15px;
}
.status-on, .status-off {
    width: 10px;
    height: 10px;
}

tr {
    text-align: center;
}
td p {
    margin: 0;
}
.idStudent, #idLabel {
    visibility: hidden;
    position: absolute;
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#pagination button {
    margin: 5px;
}

.modal-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    transform: translate(-50%, -50%);
    background-color: white;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    border: black solid 1px;
    border-radius: 5px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}
.modal-header h2 {
    margin: 8px;
}
.close {
    width: 50%;
    margin-top: 8px;
    margin-bottom: 0;
    margin-right: 8px;
    font-size: 22px;
}

.modal-body form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.modal-input {
    display: flex;
    justify-content: space-between;
    margin: 4px;
}
.input input, .input select {
    width: 100%;
    padding: 4px;
}
.input {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.errorMessage {
    color: red;
    visibility: hidden;
    font-size: 12px;
    margin: 1px;
    padding: 0;
}
.error input, .error select{
    border: 1px solid crimson;
}
.error p {
    visibility: visible;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    margin-right: 8px;
}
#cancel {
    margin-right: 8px;
}

#cancelDelete {
    margin-right: 8px;
}

#warningMessage {
    margin: 8px;
}

#login_btn:hover {
    cursor: pointer;
}


@media screen and (max-width: 576px) {
    aside {
        display: none;
    }
    #table {
        width: 100%;
    }
    #menu {
        display: block;
    }

    #profileName {
        display: none;
    }

    .modal-input {
        flex-direction: column;
    }
    .modal-input input, .modal-input select {
        width: 100%;
        margin-bottom: 4px;
    }
    .input {
        width: 100%;
    }


    #navbarBurger {
        position: fixed;
        top: 80px;
        background-color: lightgray;
        height: calc(100vh - 80px);
        width: 100% !important;
    }
    #navbarBurger li {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .dropdownNotification {
        left: -230px;
    }
    .dropdown {
        top: 30px;
        left: -100px;
        width: 140px;
    }

}
@media (max-width: 768px) {
    aside {
        display: none;
    }
    #table {
        width: 100%;
    }
    #menuBtn {
        display: block;
    }

    #navbarBurger {
        position: fixed;
        top: 80px;
        background-color: lightgray;
        height: calc(100vh - 80px);
        width: 200px;
    }
    #navbarBurger li {
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px;
    }
}
@media (max-width: 992px) {
    .navbar li{
        font-size: 18px;
    }
}